body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
  text-align: center;
  background-image: url('Utilities/images/tulips.png');
  background-position: center;
  color: white;
  line-height: 11vh;
}

header h1 {
  margin: auto;
  font-size: 40px;
}

.hide-list-btn {
  position: absolute;
  z-index: 1;
  top: 150px;
  left: 10px;
  background-color: rgba(0,0,0,0.8);
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
}

.list {
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,0,0.8);
  border-radius: 5px;
  padding: 10px;
  top: 200px;
  left: 10px;
  color: white;
  border: 2px solid white;
  list-style: none;
}

.list .search input {
  width: 200px;
}

.list ul {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  list-style: none;
  text-align: center;
  padding: 5px;
}

.list ul li {
  padding: 7px;
}

.list ul li:hover {
  background-color: rgba(255,255,255,0.2);
}
