body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}

header {
  text-align: center;
  background-image: url('Utilities/images/tulips.png');
  background-position: center;
  color: white;
  line-height: 11vh;
}

header h1 {
  margin: auto;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.hide-list-btn {
  position: absolute;
  z-index: 1;
  top: 170px;
  left: 10px;
  background-color: rgba(0,0,0,0.8);
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.list {
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,0,0.8);
  border-radius: 5px;
  padding: 10px;
  max-width: 165px;
  top: 205px;
  left: 10px;
  color: white;
  border: 2px solid white;
  list-style: none;
}

.list .search input {
  width: 160px;
}

.list ul {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  list-style: none;
  text-align: center;
  padding: 0;
  max-height: 350px;
  overflow-y: scroll;
}

.list ul li {
  padding: 7px 0;
  cursor: pointer;
}

.selected {
  background-color: rgba(255,255,255,0.2);
}

.list ul li:hover {
  background-color: rgba(255,255,255,0.2);
}

.infowindow {
  max-width: 250px;
  font-size: 14px;
  font-weight: 500;
}

.infowindow .credits {
  font-size: 11px;
}

.infowindow .credits a {
  text-decoration: none;
}

.infowindow img {
  max-width: 250px;
  max-height: 200px;
}

/* media queries */
@media screen and (min-width: 565px) {
  body {
    font-size: 16px;
  }
  header h1 {
    font-size: 40px;
  }
  .hide-list-btn {
    font-size: 15px;
  }
  .list ul {
    padding: 5px;
  }
}

@media screen and (min-width: 762px) {
  .hide-list-btn {
    top: 115px;
  }
  .list {
    top: 155px;
  }
  .list .search input {
    width: 200px;
  }
  .list {
    max-width: 210px;
  }
}
